:root {
  --color-verde: rgba(19, 124, 1, 0.753);
  --color-verde-hover: rgba(26, 173, 0, 0.712);
  --color-titulos: rgb(218, 218, 218);
  --color-subtitulos: rgb(158, 158, 158);
  /*Colores que se usarán en el documento*/
}
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  background-color: black;
  width: 100%;
}

/*Index*/

.fondo-inicio {
  background-image: url("Chica_leyendo_harry_potter.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flexbox;
  background-position: center;
}
.principal {
  background-color: black;
  display: flexbox;
  height: 45vh;
  margin-top: -5vh;
  border-radius: 5vh 5vh 0 0;
}
.principal-texto {
  text-align: center;
}
.principal-titulo {
  color: var(--color-titulos);
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: 900;
}
.principal-subtitulo {
  color: var(--color-subtitulos);
  padding-top: 1.5rem;
  font-size: 1.2rem;
}
.principal-div-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
}
.principal-btn {
  color: var(--color-verde);
  padding: 0.3rem 2rem;
  border: var(--color-verde) solid 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: black;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}

/*Libros*/

.libros-titulo {
  color: var(--color-titulos);
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

.libros {
  background-color: var(--color-titulos);
  display: flexbox;
  width: 100%;
  border-radius: 5vh 5vh 0 0;
  justify-content: space-between;
  bottom: 0;
}

.libro {
  display: inline-flex;
  padding: 3rem 2rem 1rem 2rem;
  cursor: pointer;
}

.libro-imagen-div {
  background-color: black;
  width: 35%;
  height: 35%;
  display: inline-block;
  border-radius: 0.4rem;
}

.libro-imagen {
  width: 80%;
  border-radius: 0.4rem;
  display: block;
  margin: auto;
  margin-top: 10%;
}

.libro-texto {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-left: 1.5rem;
}
.libro-titulo {
  font-size: 1em;
  padding-bottom: 0.5rem;
}
.libro-informacion {
  font-size: 0.8rem;
  color: rgb(73, 73, 73);
}
/*Responsive*/

@media (min-width: 600px) {
  /*Index*/

  .fondo-inicio {
    height: 45vh;
  }
  .principal {
    height: 60vh;
  }
  .principal-titulo {
    padding-top: 1rem;
    font-size: 4rem;
  }
  .principal-subtitulo {
    font-size: 1.8rem;
  }
  .principal-btn {
    padding: 0.5rem 3rem;
    border-width: 0.5rem;
    border-radius: 1.3rem;
    font-size: 1.8rem;
  }

  /*Libros*/

  .libros-titulo {
    font-size: 2rem;
    padding: 2rem;
  }

  .libro {
    padding: 4rem 3rem 2rem 3rem;
  }

  .libro-imagen-div {
    width: 10rem;
    height: 10rem;
  }

  .libro-texto {
    width: 17rem;
    padding-left: 2rem;
  }
  .libro-titulo {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .libro-informacion {
    font-size: 1.3rem;
  }
}
@media (min-width: 900px) {
  /*Index*/

  .fondo-inicio {
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/1e/3d/65/1e3d65ecb6a4f0cb60af79a066c202e3.jpg");
  }
  .principal {
    height: 100vh;
    margin-top: -100vh;
    width: 100vw;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
  .principal-texto {
    text-align: right;
    margin-right: 10%;
  }
  .principal-titulo {
    padding-top: 1rem;
    font-size: 8rem;
  }
  .principal-subtitulo {
    font-size: 3rem;
    padding-top: 10%;
  }
  .principal-div-btn {
    margin-top: 1.5rem;
    margin: 1.5rem 5% auto 0;
    position: relative;
    float: right;
  }
  .principal-btn {
    padding: 0.7rem 5rem;
    border-width: 0.7rem;
    border-radius: 1.5rem;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-azul);
    border-color: var(--color-azul);
    font-weight: 900;
    text-align: center;
  }
  .principal-btn:hover {
    color: var(--color-azul-hover);
    border-color: var(--color-azul-hover);
  }

  /*Libros*/

  .libros-titulo {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .libro {
    padding: 3rem 2rem 2rem 2rem;
  }
  .libros {
    border-radius: 5vh;
  }

  .libro-imagen-div {
    width: 7rem;
    height: 7rem;
  }

  .libro-texto {
    width: 15rem;
    padding-left: 1.7rem;
  }
  .libro-titulo {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .libro-informacion {
    font-size: 1rem;
  }
}
